h1= @question.title
p= @question.body

p= link_to 'Delete question', question_path(@question), method: :delete


h3= 'Answers'
-if @question.answers.empty?
  p= 'No answers for this question.'
-else
  =render @question.answers

h3= 'Leave your answer'
=render 'answers/form', answer: @question.answers.new
